
.txt1 {
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.5;
    font-weight: bold;
    color: #000080;
    padding-top: 5%;
    padding-right: 5%;    
    align-content: right;
  }

  
 