<div id="header" class="container-header" style=" padding: 1%; ">
    

    <img  src="assets/images/icons/Ericsson.png" align= "left" width="100" height="60">
    <h1 style='margin-left: 1%; text-align: center; display: inline-block; margin-right:60%; color: #ffffff'> Welcome, {{userName}} </h1>

    
    <p style='text-align: right; display: inline-block;'>
       <a  *ngIf="auth.isLoggedIn()" href="javascript:void(0)" (click)="doLogout()">
         <img src="assets/images/icons/logout.png" align= "right" width="70" height="40">
       </a>
    </p>
  
  </div>
