.criteria-centre {
    width: 800px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 30px 1px 10px;
    margin-left: 20%;
    margin-top: 3%;
    float: center;
    font-weight: bold;
    padding-bottom: 10px;
  }


  .generate-form-btn {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    height: 50px;
    border-radius: 25px;
    background: #0062CC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
    
}

.generate-form-btn :hover {
  background: #72A8E2 ;
}

.mat-slider {
  width: 300px;
  color: #0062CC;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.selected-value {
  margin: 15px 0;
}

.Submit {
  padding-top: 2px;
  margin-right: 8px;
}