<div class="limiter">
  <div *ngIf="forgotPwd" class="container-login100">
    <div class="wrap-login100">
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="OnSubmit(f)" #f="ngForm">
        <span class="login100-form-title">
          Forgot Password
        </span>

        <div class="wrap-input100 form-group">
          <input class="input100 form-control" type="email" name="email" placeholder="Email" formControlName="email" id="email">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="material-icons">email</i>
          </span>
        </div>

        <div>
          <button id="getPassword" class="login100-form-btn btn btn-default" [disabled]='singleClick === true'>
            Get Password
          </button>
        </div>
      </form>


    </div>
  </div>
</div>

<div *ngIf="verifyCodeStatus"  class="container-login100">
  <div class="wrap-login100">
    <form [formGroup]="verifyCodeForm" (ngSubmit)="onVerifySubmit(f)" #f="ngForm">
      <div id='verifyCode' class='wrap-input100 form-group'>
        <h3 class='verifyText'> Please Enter the verification code and type the new password</h3>
        
        <div class="wrap-input100 form-group">
            <input class="input100 form-control" type="text" name="codeValue" id="codeValue" placeholder="Verification Code" formControlName="codeValue">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="material-icons">confirmation_number</i>
            </span>
          </div>
        <div class="wrap-input100 form-group">
            <input class="input100 form-control" type="password" name="newPwd" id="newPwd" placeholder="New Password" formControlName="newPwd">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="material-icons">lock</i>
            </span>
          </div>
        <button id="getPassword" class="login100-form-btn btn btn-default" [disabled]='verifyClick === true'>
          Verify Account
        </button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="passwordChanged" class="container-login100"> 
    <div class="wrap-login100">  
  <h3>Your password changed successfully, please click <a routerLink="">here</a> to login</h3>
</div>  
</div>


<p align="right">v0.0.0</p>