#verifyCode {
  padding-top: 40px;
}

.verifyText {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #d42626;
  padding-bottom: 20px;
}
.padding_btm {
  padding-bottom: 25px;
}
