<div id="containter" class="container-dashboard">
  <div>
    <app-header></app-header>
    <div class='dashbord-centre'>
      <span class="welcome-title">
        <a href="javascript:void(0)" (click)="addTechnology()"> Click here to add new technology </a>
        <img src="assets/images/icons/addquestion.png" align="right" width="70" height="70">
        </span>
    </div>
    <div class='dashbord-centre'>
      <span class="welcome-title">
        <a href="javascript:void(0)" (click)="addQuestion()"> Click here to add Questions </a>
        <img src="assets/images/icons/addNewQuestion.png" align="right" width="70" height="70">
      </span>
    </div>
  </div>
</div>