nav {
    background: #2D2E2E;
    height: 100%;
}
ul {
      
        padding: 0;
        margin: 0;
}
li a{
    color: #fff;
    padding: 20px;
    display: block;
}
.container-dashboard {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
           
