<div id="containter">

<nav>
    <ul>
      <li>
        <span aria-colspan="2">
        <a routerLink="users" [class.activated] ="currentURL == '/users-dashboard' ">
          <i class="material-icons">supervised_user_circle</i>
        </a>
        <app-header></app-header>
      </span>
      </li>
      <li>
          <a routerLink="posts" [class.activated] ="currentURL == '/users-dashboard/posts'">
            <i class="material-icons">message</i>
          </a>
        </li>
    </ul>
  </nav>

  <app-user></app-user>

</div>