<div id="containter" class="container-dashboard">
  <div>
    <app-header></app-header>


    <div class='dashbord-centre'>
      <span class="welcome-title">
        <a routerLink="register-candidate"> Create Test for the candidate </a>
        <img src="assets/images/icons/createtest.png" align="right" width="70" height="70">
      </span>
    </div>

    <div class='dashbord-centre'>
      <span class="welcome-title">
        <a routerLink="register-candidate"> Create New technology Or add a new question </a>
        <img src="assets/images/icons/addquestion.png" align="right" width="70" height="70">
      </span>
    </div>

    <div class='dashbord-centre'>
      <span class="welcome-title">
        <a routerLink="register-candidate"> View Existing technology and questions </a>
        <img src="assets/images/icons/viewquestion.png" align="right" width="70" height="70">
      </span>
    </div>

    <div class='dashbord-centre'>
      <span class="welcome-title">
        <a routerLink="register-candidate"> View submitted tests results</a>
        <img src="assets/images/icons/examresult.png" align="right" width="70" height="70">
      </span>
    </div>

  </div>
  <br/>
  <app-footer></app-footer>
</div>